.text{
    display: flex;
    flex-direction: row;
    justify-content: center;
    
}

.button{
    color: white;
    font-size: 20px;
    font-family: sans-serif;
    height: 20%;
    width: auto;
    border-radius: 5px 10px;
    background-color:#5bc0de;
    
}
.border{
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
}
.content{
    padding-left: 2%;
    border: black solid 2px;
    border-radius: 20px;
    height:1050px;
    width:350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.label2{
    /* margin-top: -10%; */
    margin-left: 35%;
    font-family: sans-serif;
    height: 5%;
    width: 20%;
    border-radius: 5px 10px;
    background-color:#5bc0de;
    display: flex;
    justify-content: center;
    font-size:10px;
    color: black;
    
}
.label{
    display: flex;
    justify-content: center;
    font-size:20px;
    color: black;
    padding-left: -50%;
}
.font{
    font-size: 10px;
}
.in{
    width:80%;
    padding-left: 10px;
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.text1{
    font-size: 15px;
    font-family: sans-serif;
}
.footborder{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin-top: 10%;
    background-color: rgb(193, 231, 255);
    width:100%;
    height: 100px;
}
.image{
    text-align: center;
    width: 300px;
    height: 50px;
    
}
.image1{
    width: 800px;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:aliceblue;

}
.Table{
    display: flex;
    justify-content: center;
}
.formc{
    margin-left: 17%;
}
.forma{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.photo{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.info{
    display: flex;
    flex-direction: column;
    justify-content:center;
}